{
  "parser": "babel-eslint",
  "rules": {
    "no-case-declarations": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
